In [1]:
import numpy as np
import pandas as pd
np.random.seed(12345)
np.set_printoptions(precision=4, suppress=True)

In [2]:
!cat examples/ex1.csv

9,10,11,12,foo

In [3]:
df = pd.read_csv('examples/ex1.csv')
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [4]:
df = pd.read_csv('examples/ex1.csv', sep=',')
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [5]:
!cat examples/ex2.csv

9,10,11,12,foo

In [7]:
df = pd.read_csv('examples/ex2.csv', header=None)
df

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [9]:
df = pd.read_csv('examples/ex2.csv', names=['a', 'b', 'c', 'd', 'message'])
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [13]:
names = ['a', 'b', 'c', 'd', 'message']
df = pd.read_csv('examples/ex2.csv', names=names, index_col='message')
df

         a   b   c   d
message
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

In [14]:
df.loc['hello']

a    1
b    2
c    3
d    4
Name: hello, dtype: int64

In [15]:
!cat examples/csv_mindex.csv

In [16]:
df = pd.read_csv('examples/csv_mindex.csv', index_col=['key1', 'key2'])
df

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

In [17]:
!cat examples/ex3.txt

In [20]:
# Ler arquivo com separador utilizando espaço em branco
df = pd.read_table('examples/ex3.csv', sep='\s+')
df

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491