In [1]:
import numpy as np
import pandas as pd
np.random.seed(12345)
np.set_printoptions(precision=4, suppress=True)

In [2]:
!cat examples/ex1.csv

9,10,11,12,foo

In [3]:
df = pd.read_csv('examples/ex1.csv')
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [4]:
df = pd.read_csv('examples/ex1.csv', sep=',')
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [5]:
!cat examples/ex2.csv

9,10,11,12,foo

In [7]:
df = pd.read_csv('examples/ex2.csv', header=None)
df

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [9]:
df = pd.read_csv('examples/ex2.csv', names=['a', 'b', 'c', 'd', 'message'])
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [13]:
names = ['a', 'b', 'c', 'd', 'message']
df = pd.read_csv('examples/ex2.csv', names=names, index_col='message')
df

         a   b   c   d
message
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

In [14]:
df.loc['hello']

a    1
b    2
c    3
d    4
Name: hello, dtype: int64

In [15]:
!cat examples/csv_mindex.csv

In [16]:
df = pd.read_csv('examples/csv_mindex.csv', index_col=['key1', 'key2'])
df

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

In [17]:
!cat examples/ex3.txt

In [20]:
# Ler arquivo com separador utilizando espaço em branco
df = pd.read_table('examples/ex3.csv', sep='\s+')
df

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

In [21]:
!cat examples/ex4.csv

9,10,11,12,foo

In [22]:
df = pd.read_csv('examples/ex4.csv', skiprows=[0,2,3])
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [23]:
!cat examples/ex5.csv

three,9,10,11,12,foo

In [25]:
df = pd.read_csv('examples/ex5.csv')
df
pd.isnull(df)

   something      a      b      c      d  message
0      False  False  False  False  False     True
1      False  False  False   True  False    False
2      False  False  False  False  False    False

In [27]:
df = pd.read_csv('examples/ex5.csv', na_values=['NULL', 'foo'])
df

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     NaN

In [28]:
sentinels = {
    'message': [
        'foo', 'NA'
    ],
    'something': [
        'two'
    ]
}
df = pd.read_csv('examples/ex5.csv', na_values=sentinels)
df

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       NaN  5   6   NaN   8   world
2     three  9  10  11.0  12     NaN

In [29]:
pd.options.display.max_rows = 10

In [30]:
df = pd.read_csv('examples/ex6.csv')
df

           one       two     three      four key
0     0.467976 -0.038649 -0.295344 -1.824726   L
1    -0.358893  1.404453  0.704965 -0.200638   B
2    -0.501840  0.659254 -0.421691 -0.057688   G
3     0.204886  1.074134  1.388361 -0.982404   R
4     0.354628 -0.133116  0.283763 -0.837063   Q
...        ...       ...       ...       ...  ..
9995  2.311896 -0.417070 -1.409599 -0.515821   L
9996 -0.479893 -0.650419  0.745152 -0.646038   E
9997  0.523331  0.787112  0.486066  1.093156   K
9998 -0.362559  0.598894 -1.843201  0.887292   G
9999 -0.096376 -1.012999 -0.657431 -0.573315   0

[10000 rows x 5 columns]

In [31]:
df = pd.read_csv('examples/ex6.csv', nrows=5)
df

        one       two     three      four key
0  0.467976 -0.038649 -0.295344 -1.824726   L
1 -0.358893  1.404453  0.704965 -0.200638   B
2 -0.501840  0.659254 -0.421691 -0.057688   G
3  0.204886  1.074134  1.388361 -0.982404   R
4  0.354628 -0.133116  0.283763 -0.837063   Q

In [32]:
chunk = pd.read_csv('examples/ex6.csv', chunksize=1000)
chunk

In [33]:
tot = pd.Series([])
for piece in chunk:
    tot = tot.add(piece['key'].value_counts(), fill_value=0)
tot = tot.sort_values(ascending=False)
tot[:10]

E    368.0
X    364.0
L    346.0
O    343.0
Q    340.0
M    338.0
J    337.0
F    335.0
K    334.0
H    330.0
dtype: float64

In [34]:
data = pd.read_csv('examples/ex5.csv')
data

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [35]:
data.to_csv('examples/out.csv')
!cat examples/out.csv

,something,a,b,c,d,message
0,one,1,2,3.0,4,
1,two,5,6,,8,world
2,three,9,10,11.0,12,foo

In [36]:
import sys
data.to_csv(sys.stdout, sep="|")

|something|a|b|c|d|message
0|one|1|2|3.0|4|
1|two|5|6||8|world
2|three|9|10|11.0|12|foo

In [37]:
data.to_csv(sys.stdout, sep="|", na_rep="NULL")

|something|a|b|c|d|message
0|one|1|2|3.0|4|NULL
1|two|5|6|NULL|8|world
2|three|9|10|11.0|12|foo

In [38]:
data.to_csv(sys.stdout, sep="|", na_rep="NULL", header=False)

0|one|1|2|3.0|4|NULL
1|two|5|6|NULL|8|world
2|three|9|10|11.0|12|foo

In [39]:
data.to_csv(sys.stdout, sep="|", index=False, columns=['a', 'b', 'c'])

a|b|c
1|2|3.0
5|6|
9|10|11.0

In [40]:
!cat examples/ex7.csv

In [41]:
import csv
f = open('examples/ex7.csv')
reader = csv.reader(f)

In [42]:
for line in reader:
    print(line)

['a', 'b', 'c']
['1', '2', '3']
['1', '2', '3']

In [44]:
f.close()

In [53]:
with open('examples/ex7.csv') as f:
    lines = list(csv.reader(f))

In [54]:
for line in lines:
    print(line)

['a', 'b', 'c']
['1', '2', '3']
['1', '2', '3']

In [58]:
header, values = lines[0], lines[1:]
header

['a', 'b', 'c']

In [59]:
values

[['1', '2', '3'], ['1', '2', '3']]

In [60]:
data_dict = {h:v for h,v in zip(header, zip(*values))}
data_dict

{'a': ('1', '1'), 'b': ('2', '2'), 'c': ('3', '3')}

In [61]:
num1 = [1,2,3]
num2 = [4,5,6]
list(zip(num1, num2))

[(1, 4), (2, 5), (3, 6)]

In [62]:
obj = """
{"name": "Wes",
 "places_lived": ["United States", "Spain", "Germany"],
 "pet": null,
 "siblings": [{"name": "Scott", "age": 30, "pets": ["Zeus", "Zuko"]},
              {"name": "Katie", "age": 38,
               "pets": ["Sixes", "Stache", "Cisco"]}]
}
"""

In [63]:
import json
resul = json.loads(obj)
resul

{'name': 'Wes',
 'places_lived': ['United States', 'Spain', 'Germany'],
 'pet': None,
 'siblings': [{'name': 'Scott', 'age': 30, 'pets': ['Zeus', 'Zuko']},
  {'name': 'Katie', 'age': 38, 'pets': ['Sixes', 'Stache', 'Cisco']}]}

In [64]:
asjson = json.dumps(resul)
asjson

'{"name": "Wes", "places_lived": ["United States", "Spain", "Germany"], "pet": null, "siblings": [{"name": "Scott", "age": 30, "pets": ["Zeus", "Zuko"]}, {"name": "Katie", "age": 38, "pets": ["Sixes", "Stache", "Cisco"]}]}'

In [65]:
resul['siblings']

[{'name': 'Scott', 'age': 30, 'pets': ['Zeus', 'Zuko']},
 {'name': 'Katie', 'age': 38, 'pets': ['Sixes', 'Stache', 'Cisco']}]

In [69]:
sib = pd.DataFrame(resul['siblings'], columns=['name', 'age'])
sib

    name  age
0  Scott   30
1  Katie   38

In [70]:
!cat examples/example.json

In [71]:
df = pd.read_json('examples/example.json')
df

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [72]:
print(df.to_json())

{"a":{"0":1,"1":4,"2":7},"b":{"0":2,"1":5,"2":8},"c":{"0":3,"1":6,"2":9}}

In [73]:
print(df.to_json(orient='records'))

[{"a":1,"b":2,"c":3},{"a":4,"b":5,"c":6},{"a":7,"b":8,"c":9}]

In [74]:
tables = pd.read_html('examples/fdic_failed_bank_list.html')
len(tables)

1

In [75]:
failures = tables[0]
failures.head()

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
0,Allied Bank,Mulberry,AR,91,Today's Bank,"September 23, 2016","November 17, 2016"
1,The Woodbury Banking Company,Woodbury,GA,11297,United Bank,"August 19, 2016","November 17, 2016"
2,First CornerStone Bank,King of Prussia,PA,35312,First-Citizens Bank & Trust Company,"May 6, 2016","September 6, 2016"
3,Trust Company Bank,Memphis,TN,9956,The Bank of Fayette County,"April 29, 2016","September 6, 2016"
4,North Milwaukee State Bank,Milwaukee,WI,20364,First-Citizens Bank & Trust Company,"March 11, 2016","June 16, 2016"

In [78]:
close_timestamps = pd.to_datetime(failures['Closing Date'])
close_timestamps.dt.year.value_counts()

2010    157
2009    140
2011     92
2012     51
2008     25
       ...
2004      4
2001      4
2007      3
2003      3
2000      2
Name: Closing Date, Length: 15, dtype: int64

In [80]:
from lxml import objectify

path = 'datasets/mta_perf/Performance_MNR.xml'
parsed = objectify.parse(open(path))
root = parsed.getroot()

In [81]:
data = []

skip_fields = ['PARENT_SEQ', 'INDICATOR_SEQ',
               'DESIRED_CHANGE', 'DECIMAL_PLACES']

for elt in root.INDICATOR:
    el_data = {}
    for child in elt.getchildren():
        if child.tag in skip_fields:
            continue
        el_data[child.tag] = child.pyval
    data.append(el_data)

In [82]:
perf = pd.DataFrame(data)
perf.head()

,AGENCY_NAME,INDICATOR_NAME,DESCRIPTION,PERIOD_YEAR,PERIOD_MONTH,CATEGORY,FREQUENCY,INDICATOR_UNIT,YTD_TARGET,YTD_ACTUAL,MONTHLY_TARGET,MONTHLY_ACTUAL
0,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at thei...,2008,1,Service Indicators,M,%,95,96.9,95,96.9
1,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at thei...,2008,2,Service Indicators,M,%,95,96,95,95
2,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at thei...,2008,3,Service Indicators,M,%,95,96.3,95,96.9
3,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at thei...,2008,4,Service Indicators,M,%,95,96.8,95,98.3
4,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at thei...,2008,5,Service Indicators,M,%,95,96.6,95,95.8

In [83]:
from io import StringIO
tag = '<a href="http://www.google.com">Google</a>'
root = objectify.parse(StringIO(tag)).getroot()

In [86]:
root
root.get('href')
root.text

'Google'

In [87]:
frame = pd.read_csv('examples/ex1.csv')
frame

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [89]:
frame.to_pickle('examples/frame_pickle')

In [90]:
!cat examples/frame_pickle

���      �pandas.core.frame��	DataFrame���)��}�(�_data��pandas.core.internals.managers��BlockManager���)��(]�(�pandas.core.indexes.base��
�pandas.core.indexes.range��
RangeIndex���}�(h+N�start�K �stop�K�step�Ku��R�e]�(hhK ��h��R�(KKK��h�i8�K K��R�(K�<�NNNJ����J����K t�b�C`              	                     
h}�(hhhK ��h��R�(KK��h!�]�h)at�bh+Nu��R�e}��0.14.1�}�(�axes�h
�blocks�]�(}�(�values�h:�mgr_locs��builtins��slice���K KK��R�u}�(hfhEhghjKKK��R�ueust�b�_typ��	dataframe��	_metadata�]�ub.

In [91]:
pd.read_pickle('examples/frame_pickle')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [92]:
!pip install tables

Collecting tables
  Downloading tables-3.6.1-cp36-cp36m-manylinux1_x86_64.whl (4.3 MB)
     |████████████████████████████████| 4.3 MB 10.8 MB/s eta 0:00:01
Requirement already satisfied: numexpr>=2.6.2 in /anaconda/envs/azureml_py36/lib/python3.6/site-packages (from tables) (2.7.1)
Requirement already satisfied: numpy>=1.9.3 in /anaconda/envs/azureml_py36/lib/python3.6/site-packages (from tables) (1.18.5)
Installing collected packages: tables
Successfully installed tables-3.6.1

In [94]:
frame = pd.DataFrame({'a': np.random.randn(100)})
frame
store = pd.HDFStore('mydata.h5')
store['obj1'] = frame
store

<class 'pandas.io.pytables.HDFStore'>
File path: mydata.h5

In [95]:
store['obj1']

           a
0  -1.565657
1  -0.562540
2  -0.032664
3  -0.929006
4  -0.482573
..       ...
95  0.910983
96 -1.020903
97 -1.413416
98  1.296608
99  0.252275

[100 rows x 1 columns]

In [97]:
store.put('obj2', frame, format='table')
store.select('obj2', where=['index >= 10 and index <= 15'])

           a
10 -0.528735
11  0.457002
12  0.929969
13 -1.569271
14 -1.022487
15 -0.402827

In [98]:
store.close()

In [99]:
frame.to_hdf('mydata.h5', 'obj3', format='table')
pd.read_hdf('mydata.h5', 'obj3', where=['index < 5'])

          a
0 -1.565657
1 -0.562540
2 -0.032664
3 -0.929006
4 -0.482573

In [100]:
!pip install xlrd

Collecting xlrd
  Downloading xlrd-1.2.0-py2.py3-none-any.whl (103 kB)
     |████████████████████████████████| 103 kB 10.5 MB/s eta 0:00:01
Installing collected packages: xlrd
Successfully installed xlrd-1.2.0

In [101]:
xlsx = pd.ExcelFile('examples/ex1.xlsx')

In [102]:
pd.read_excel(xlsx, 'Sheet1')

   Unnamed: 0  a   b   c   d message
0           0  1   2   3   4   hello
1           1  5   6   7   8   world
2           2  9  10  11  12     foo

In [103]:
frame = pd.read_excel('examples/ex1.xlsx', 'Sheet1')
frame

   Unnamed: 0  a   b   c   d message
0           0  1   2   3   4   hello
1           1  5   6   7   8   world
2           2  9  10  11  12     foo

In [105]:
!pip install openpyx1

ERROR: Could not find a version that satisfies the requirement openpyx1 (from versions: none)
ERROR: No matching distribution found for openpyx1