# Time Series

In [2]:
import numpy as np
import pandas as pd
np.random.seed(12345)
import matplotlib.pyplot as plt
plt.rc('figure', figsize=(10, 6))
PREVIOUS_MAX_ROWS = pd.options.display.max_rows
pd.options.display.max_rows = 20
np.set_printoptions(precision=4, suppress=True)

## Date and Time Data Types and Tools

In [2]:
from datetime import datetime
now = datetime.now()
now

datetime.datetime(2020, 11, 27, 19, 36, 20, 107413)

In [3]:
now.year, now.month, now.day

(2020, 11, 27)

In [4]:
delta = datetime(2011, 1, 7) - datetime(2008, 6, 24, 8, 15)
delta

datetime.timedelta(926, 56700)

In [5]:
delta.days

926

In [6]:
delta.seconds

56700

In [8]:
from datetime import timedelta
start = datetime(2011, 1, 7)
start

datetime.datetime(2011, 1, 7, 0, 0)

In [9]:
start + timedelta(12)

datetime.datetime(2011, 1, 19, 0, 0)

In [10]:
start - 2 * timedelta(12)

datetime.datetime(2010, 12, 14, 0, 0)

### Converting Between String and Datetime

In [11]:
stamp = datetime(2011, 1, 3)
str(stamp)

'2011-01-03 00:00:00'

In [12]:
stamp.strftime('%Y-%m-%d')

'2011-01-03'

|Tipo| |Descrição|
|----|-|---------|
|%Y| |Ano com quatro dígitos|
|%y| |Ano com dois dígitos|
|%m| |Mês com dois dígitos [01, 12]|
|%d| |Dia com dois dígitos [01, 31]|
|%H| |Hora (relógio com 24 horas) [00, 23]|
|%I| |Hora (relógio com 12 horas) [01, 12]|
|%M| |Minuto com dois dígitos [00, 59]|
|%S| |Segundos [00, 61] (segundos 60, 61 são usados para segundos intercalares (leap seconds))|
|%w| |Dia da semana como inteiro [0 (Domingo), 6]|
|%U| |Número da semana no ano [00, 53]; domingo é considerado o primeiro dia da semana, e os dias antes do primeiro domingo do ano são a “semana 0”|
|%W| |Número da semana no ano [00, 53]; segunda-feira é considerada o primeiro dia da semana, e os dias antes da primeira segunda-feira do ano são a “semana 0”|
|%z| |Offset do fuso horário UTC como +HHMM ou -HHMM; vazio se o fuso horário não for considerado|
|%F| |Atalho para %Y-%m-%d (por exemplo, 2012-4-18)|
|%D| |Atalho para %m/%d/%y (por exemplo, 04/18/12)|

In [13]:
value = '2011-01-03'
datetime.strptime(value, '%Y-%m-%d')

datetime.datetime(2011, 1, 3, 0, 0)

In [14]:
datestrs = ['7/6/2011', '8/6/2011']
[datetime.strptime(x, '%m/%d/%Y') for x in datestrs]

[datetime.datetime(2011, 7, 6, 0, 0), datetime.datetime(2011, 8, 6, 0, 0)]

In [15]:
from dateutil.parser import parse
parse('2011-01-03')

datetime.datetime(2011, 1, 3, 0, 0)

In [16]:
parse('Jan 31, 1997 10:45 PM')

datetime.datetime(1997, 1, 31, 22, 45)

In [17]:
parse('6/12/2011', dayfirst=True)

datetime.datetime(2011, 12, 6, 0, 0)

In [18]:
datestrs = ['2011-07-06 12:00:00', '2011-08-06 00:00:00']
pd.to_datetime(datestrs)

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00'], dtype='datetime64[ns]', freq=None)

In [19]:
idx = pd.to_datetime(datestrs + [None])
idx

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00', 'NaT'], dtype='datetime64[ns]', freq=None)

In [20]:
idx[2]

NaT

In [21]:
pd.isnull(idx)

array([False, False,  True])

## Time Series Basics

In [3]:
from datetime import datetime
dates = [datetime(2011, 1, 2), datetime(2011, 1, 5),
         datetime(2011, 1, 7), datetime(2011, 1, 8),
         datetime(2011, 1, 10), datetime(2011, 1, 12)]
ts = pd.Series(np.random.randn(6), index=dates)
ts

2011-01-02   -0.204708
2011-01-05    0.478943
2011-01-07   -0.519439
2011-01-08   -0.555730
2011-01-10    1.965781
2011-01-12    1.393406
dtype: float64

In [4]:
ts.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [6]:
ts

2011-01-02   -0.204708
2011-01-05    0.478943
2011-01-07   -0.519439
2011-01-08   -0.555730
2011-01-10    1.965781
2011-01-12    1.393406
dtype: float64

In [7]:
ts + ts[::2]

2011-01-02   -0.409415
2011-01-05         NaN
2011-01-07   -1.038877
2011-01-08         NaN
2011-01-10    3.931561
2011-01-12         NaN
dtype: float64

In [8]:
#O pandas armazena timestamps usando o tipo de dado datetime64 do NumPy com resolução de nanossegundos:
ts.index.dtype

dtype('<M8[ns]')

In [9]:
stamp = ts.index[0]
stamp

Timestamp('2011-01-02 00:00:00')

### Indexing, Selection, Subsetting

In [10]:
stamp = ts.index[2]
ts[stamp]

-0.5194387150567381

In [12]:
ts['1/10/2011']

1.9657805725027142

In [13]:
ts['20110110']

1.9657805725027142

In [15]:
longer_ts = pd.Series(np.random.randn(1000),
                      index=pd.date_range('1/1/2000', periods=1000))
longer_ts

2000-01-01    0.488675
2000-01-02   -0.178098
2000-01-03    2.122315
2000-01-04    0.061192
2000-01-05    0.884111
                ...
2002-09-22    1.847446
2002-09-23    0.453739
2002-09-24   -0.302450
2002-09-25    1.402558
2002-09-26    1.212354
Freq: D, Length: 1000, dtype: float64

In [16]:
longer_ts['2001']

2001-01-01    0.715359
2001-01-02   -0.345805
2001-01-03    0.470886
2001-01-04   -1.121515
2001-01-05   -1.544365
                ...
2001-12-27   -0.850688
2001-12-28    0.207830
2001-12-29   -0.127188
2001-12-30    0.279477
2001-12-31    0.718729
Freq: D, Length: 365, dtype: float64

In [17]:
longer_ts['2001-05']

2001-05-01    1.167858
2001-05-02    0.969001
2001-05-03   -2.536487
2001-05-04    0.362754
2001-05-05   -1.196146
                ...
2001-05-27   -1.333576
2001-05-28   -0.309119
2001-05-29    0.028558
2001-05-30    1.129605
2001-05-31   -0.374173
Freq: D, Length: 31, dtype: float64

In [18]:
ts[datetime(2011, 1, 7):]

2011-01-07   -0.519439
2011-01-08   -0.555730
2011-01-10    1.965781
2011-01-12    1.393406
dtype: float64

In [19]:
ts['1/6/2011':'1/11/2011']

2011-01-07   -0.519439
2011-01-08   -0.555730
2011-01-10    1.965781
dtype: float64

In [20]:
ts.truncate(after='1/9/2011')

2011-01-02   -0.204708
2011-01-05    0.478943
2011-01-07   -0.519439
2011-01-08   -0.555730
dtype: float64

In [21]:
dates = pd.date_range('1/1/2000', periods=100, freq='W-WED')
long_df = pd.DataFrame(np.random.randn(100, 4),
                       index=dates,
                       columns=['Colorado', 'Texas',
                                'New York', 'Ohio'])
long_df.loc['5-2001']

            Colorado     Texas  New York      Ohio
2001-05-02 -0.924368 -0.020641 -0.826849 -0.439442
2001-05-09  0.289190  0.317978  0.035787  1.034372
2001-05-16 -0.506926  1.228659 -1.079650 -1.503665
2001-05-23 -0.167360 -0.183889 -1.003073 -0.292718
2001-05-30 -0.830605 -0.271502  0.825583  1.121559

### Time Series with Duplicate Indices

In [22]:
dates = pd.DatetimeIndex(['1/1/2000', '1/2/2000', '1/2/2000',
                          '1/2/2000', '1/3/2000'])
dup_ts = pd.Series(np.arange(5), index=dates)
dup_ts

2000-01-01    0
2000-01-02    1
2000-01-02    2
2000-01-02    3
2000-01-03    4
dtype: int64

In [23]:
dup_ts.index.is_unique

False

In [25]:
dup_ts['1/3/2000']  # not duplicated

4

In [26]:
dup_ts['1/2/2000']  # duplicated

2000-01-02    1
2000-01-02    2
2000-01-02    3
dtype: int64

In [27]:
grouped = dup_ts.groupby(level=0)
grouped.mean()

2000-01-01    0
2000-01-02    2
2000-01-03    4
dtype: int64

In [28]:
grouped.count()

2000-01-01    1
2000-01-02    3
2000-01-03    1
dtype: int64

### Generating Date Ranges

In [32]:
index = pd.date_range('2012-04-01', '2012-06-01')
index

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20',
               '2012-04-21', '2012-04-22', '2012-04-23', '2012-04-24',
               '2012-04-25', '2012-04-26', '2012-04-27', '2012-04-28',
               '2012-04-29', '2012-04-30', '2012-05-01', '2012-05-02',
               '2012-05-03', '2012-05-04', '2012-05-05', '2012-05-06',
               '2012-05-07', '2012-05-08', '2012-05-09', '2012-05-10',
               '2012-05-11', '2012-05-12', '2012-05-13', '2012-05-14',
               '2012-05-15', '2012-05-16', '2012-05-17', '2012-05-18',
               '2012-05-19', '2012-05-20', '2012-05-21', '2012-05-22',
               '2012-05-23', '2012-05-24', '2012-05-25', '2012-05-26',
               '2012-05-27', '2012-05-28', '2012-05-29', '2012-05-30',
               '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [33]:
pd.date_range(start='2012-04-01', periods=20)

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20'],
              dtype='datetime64[ns]', freq='D')

In [34]:
pd.date_range(end='2012-06-01', periods=20)

DatetimeIndex(['2012-05-13', '2012-05-14', '2012-05-15', '2012-05-16',
               '2012-05-17', '2012-05-18', '2012-05-19', '2012-05-20',
               '2012-05-21', '2012-05-22', '2012-05-23', '2012-05-24',
               '2012-05-25', '2012-05-26', '2012-05-27', '2012-05-28',
               '2012-05-29', '2012-05-30', '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [35]:
#Último dia útil (dia da semana) do mês
pd.date_range('2000-01-01', '2000-12-01', freq='BM')

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31', '2000-04-28',
               '2000-05-31', '2000-06-30', '2000-07-31', '2000-08-31',
               '2000-09-29', '2000-10-31', '2000-11-30'],
              dtype='datetime64[ns]', freq='BM')

In [36]:
pd.date_range('2012-05-02 12:56:31', periods=5)

DatetimeIndex(['2012-05-02 12:56:31', '2012-05-03 12:56:31',
               '2012-05-04 12:56:31', '2012-05-05 12:56:31',
               '2012-05-06 12:56:31'],
              dtype='datetime64[ns]', freq='D')

In [37]:
#Às vezes você terá datas de início ou de 
#fim com informações de hora, mas vai querer 
#gerar um conjunto de timestamps normalizados 
#para a meia-noite como convenção. Para isso, temos a opção normalize:
pd.date_range('2012-05-02 12:56:31', periods=5, normalize=True)

DatetimeIndex(['2012-05-02', '2012-05-03', '2012-05-04', '2012-05-05',
               '2012-05-06'],
              dtype='datetime64[ns]', freq='D')

### Frequencies and Date Offsets

In [38]:
from pandas.tseries.offsets import Hour, Minute
hour = Hour()
hour

In [39]:
four_hours = Hour(4)
four_hours

In [40]:
pd.date_range('2000-01-01', '2000-01-03 23:59', freq='4h')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 04:00:00',
               '2000-01-01 08:00:00', '2000-01-01 12:00:00',
               '2000-01-01 16:00:00', '2000-01-01 20:00:00',
               '2000-01-02 00:00:00', '2000-01-02 04:00:00',
               '2000-01-02 08:00:00', '2000-01-02 12:00:00',
               '2000-01-02 16:00:00', '2000-01-02 20:00:00',
               '2000-01-03 00:00:00', '2000-01-03 04:00:00',
               '2000-01-03 08:00:00', '2000-01-03 12:00:00',
               '2000-01-03 16:00:00', '2000-01-03 20:00:00'],
              dtype='datetime64[ns]', freq='4H')

In [41]:
Hour(2) + Minute(30)

In [42]:
pd.date_range('2000-01-01', periods=10, freq='1h30min')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 01:30:00',
               '2000-01-01 03:00:00', '2000-01-01 04:30:00',
               '2000-01-01 06:00:00', '2000-01-01 07:30:00',
               '2000-01-01 09:00:00', '2000-01-01 10:30:00',
               '2000-01-01 12:00:00', '2000-01-01 13:30:00'],
              dtype='datetime64[ns]', freq='90T')

#### Week of month dates

In [43]:
#Uma classe de frequência útil é a “semana do mês”, que começa com WOM. 
#Ela permite obter datas como a terceira sexta-feira de cada mês:
rng = pd.date_range('2012-01-01', '2012-09-01', freq='WOM-3FRI')
list(rng)

[Timestamp('2012-01-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-02-17 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-03-16 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-04-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-05-18 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-06-15 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-07-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-08-17 00:00:00', freq='WOM-3FRI')]

### Shifting (Leading and Lagging) Data
Deslocamento de datas (adiantando e atrasando)

In [44]:
ts = pd.Series(np.random.randn(4),
               index=pd.date_range('1/1/2000', periods=4, freq='M'))
ts

2000-01-31   -1.677765
2000-02-29   -0.034771
2000-03-31   -1.943194
2000-04-30    0.405850
Freq: M, dtype: float64

In [46]:
ts.shift(2)

2000-01-31         NaN
2000-02-29         NaN
2000-03-31   -1.677765
2000-04-30   -0.034771
Freq: M, dtype: float64

In [47]:
ts.shift(-2)

2000-01-31   -1.943194
2000-02-29    0.405850
2000-03-31         NaN
2000-04-30         NaN
Freq: M, dtype: float64

In [48]:
ts / ts.shift(1) - 1

2000-01-31          NaN
2000-02-29    -0.979275
2000-03-31    54.885256
2000-04-30    -1.208857
Freq: M, dtype: float64

In [50]:
#Como deslocamentos triviais deixam o índice 
#inalterado, alguns dados são descartados. 
#Desse modo, se a frequência for conhecida, 
#ela poderá ser passada para shift a fim 
#de avançar os timestamps, em vez de 
#simplesmente fazer isso com os dados:
ts

2000-01-31   -1.677765
2000-02-29   -0.034771
2000-03-31   -1.943194
2000-04-30    0.405850
Freq: M, dtype: float64

In [49]:
ts.shift(2, freq='M')

2000-03-31   -1.677765
2000-04-30   -0.034771
2000-05-31   -1.943194
2000-06-30    0.405850
Freq: M, dtype: float64

In [51]:
ts.shift(3, freq='D')

2000-02-03   -1.677765
2000-03-03   -0.034771
2000-04-03   -1.943194
2000-05-03    0.405850
dtype: float64

In [52]:
#90T = 90 minutos
ts.shift(1, freq='90T')

2000-01-31 01:30:00   -1.677765
2000-02-29 01:30:00   -0.034771
2000-03-31 01:30:00   -1.943194
2000-04-30 01:30:00    0.405850
Freq: M, dtype: float64

#### Shifting dates with offsets

In [53]:
from pandas.tseries.offsets import Day, MonthEnd
now = datetime(2011, 11, 17)
now + 3 * Day()

Timestamp('2011-11-20 00:00:00')

In [57]:
now + MonthEnd()

Timestamp('2011-11-30 00:00:00')

In [59]:
offset = MonthEnd()
offset.rollforward(now)

Timestamp('2011-11-30 00:00:00')

In [60]:
offset.rollback(now)

Timestamp('2011-10-31 00:00:00')

In [61]:
ts = pd.Series(np.random.randn(20),
               index=pd.date_range('1/15/2000', periods=20, freq='4d'))
ts
ts.groupby(offset.rollforward).mean()

2000-01-31   -0.037705
2000-02-29    0.558794
2000-03-31    0.580095
dtype: float64

In [62]:
ts.resample('M').mean()

2000-01-31   -0.037705
2000-02-29    0.558794
2000-03-31    0.580095
Freq: M, dtype: float64

## Time Zone Handling

In [63]:
import pytz
pytz.common_timezones[-5:]

['US/Eastern', 'US/Hawaii', 'US/Mountain', 'US/Pacific', 'UTC']

In [64]:
tz = pytz.timezone('America/New_York')
tz

### Time Zone Localization and Conversion

In [65]:
rng = pd.date_range('3/9/2012 9:30', periods=6, freq='D')
ts = pd.Series(np.random.randn(len(rng)), index=rng)
ts

2012-03-09 09:30:00    0.217985
2012-03-10 09:30:00   -0.254538
2012-03-11 09:30:00   -0.490485
2012-03-12 09:30:00   -1.606192
2012-03-13 09:30:00   -0.250439
2012-03-14 09:30:00   -0.151218
Freq: D, dtype: float64

In [66]:
print(ts.index.tz)

None

In [67]:
pd.date_range('3/9/2012 9:30', periods=10, freq='D', tz='UTC')

DatetimeIndex(['2012-03-09 09:30:00+00:00', '2012-03-10 09:30:00+00:00',
               '2012-03-11 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00',
               '2012-03-15 09:30:00+00:00', '2012-03-16 09:30:00+00:00',
               '2012-03-17 09:30:00+00:00', '2012-03-18 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

In [68]:
ts
ts_utc = ts.tz_localize('UTC')
ts_utc
ts_utc.index

DatetimeIndex(['2012-03-09 09:30:00+00:00', '2012-03-10 09:30:00+00:00',
               '2012-03-11 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

In [69]:
ts_utc.tz_convert('America/New_York')

2012-03-09 04:30:00-05:00    0.217985
2012-03-10 04:30:00-05:00   -0.254538
2012-03-11 05:30:00-04:00   -0.490485
2012-03-12 05:30:00-04:00   -1.606192
2012-03-13 05:30:00-04:00   -0.250439
2012-03-14 05:30:00-04:00   -0.151218
Freq: D, dtype: float64

In [71]:
ts_eastern = ts.tz_localize('America/New_York')
ts_eastern.tz_convert('UTC')

2012-03-09 14:30:00+00:00    0.217985
2012-03-10 14:30:00+00:00   -0.254538
2012-03-11 13:30:00+00:00   -0.490485
2012-03-12 13:30:00+00:00   -1.606192
2012-03-13 13:30:00+00:00   -0.250439
2012-03-14 13:30:00+00:00   -0.151218
Freq: D, dtype: float64

In [72]:
ts_eastern.tz_convert('Europe/Berlin')

2012-03-09 15:30:00+01:00    0.217985
2012-03-10 15:30:00+01:00   -0.254538
2012-03-11 14:30:00+01:00   -0.490485
2012-03-12 14:30:00+01:00   -1.606192
2012-03-13 14:30:00+01:00   -0.250439
2012-03-14 14:30:00+01:00   -0.151218
Freq: D, dtype: float64

In [73]:
ts.index.tz_localize('Asia/Shanghai')

DatetimeIndex(['2012-03-09 09:30:00+08:00', '2012-03-10 09:30:00+08:00',
               '2012-03-11 09:30:00+08:00', '2012-03-12 09:30:00+08:00',
               '2012-03-13 09:30:00+08:00', '2012-03-14 09:30:00+08:00'],
              dtype='datetime64[ns, Asia/Shanghai]', freq='D')

In [76]:
ts.index.tz_localize('America/Recife')

DatetimeIndex(['2012-03-09 09:30:00-03:00', '2012-03-10 09:30:00-03:00',
               '2012-03-11 09:30:00-03:00', '2012-03-12 09:30:00-03:00',
               '2012-03-13 09:30:00-03:00', '2012-03-14 09:30:00-03:00'],
              dtype='datetime64[ns, America/Recife]', freq='D')